img {
    height: auto;
  }

  .responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  
  .gallery-item img {
    width: 100%;
    height: auto;
  }
  
  @font-face {
    font-family: Kunstler;
    src: url(../fonts/KUNSTLER.TTF) format("truetype");
  }
  
  @font-face {
    font-family: Bahnschrift;
    src: url(../fonts/Bahnschrift.ttf) format("truetype");
  }
  
  @font-face {
    font-family: Pixel;
    src: url(../fonts/Pixel.otf) format("opentype");
  }
  
  @font-face {
    font-family: Lucine;
    src: url(../fonts/Lucine.otf) format("opentype");
  }
  
  @font-face {
    font-family: Lucian;
    src: url(../fonts/Lucian.otf) format("opentype");
  }
  
  html {
    font-family: Bahnschrift, sans-serif;
    background-color: #eaf1e8;
    color: black;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url(../images/backgrounds/scenicBackground.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: clip;
  }
  
  body {
    margin-top: 100px;
    min-height: 700px;
  }
  
  .rightTextbox {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 50px;
    width: 60%;
    margin-left: 40%;
  }
  
  .mainContainer {
    display: flex;
    width: 100%;
  }
  
  .imageContainer {
    position: fixed;
    width: 40%;
    bottom: 0;
    z-index: 2000;
    margin: 0;
  }
  
  #stationaryEasel {
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }
  
  header {
    font-family: Kunstler, sans-serif;
    background: rgb(145, 201, 148);
    color: rgb(19,56,10);
    position: fixed;
    display: flex;
    padding: 5px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  header h1 {
    font-size: 80px;
    margin: 0;
  }
  
  nav {
    margin-left: auto;
    padding-right: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(19,56,10);
  }
  
  footer {
    background-color: rgb(145, 201, 148);
    color: rgb(19,56,10);
    text-align: right;
    bottom: 0;
    position: fixed;
    z-index: 3000;
    width: 100%;
  }
  
  footer p {
    margin: 0;
    padding-right: 15px;
  }
  
  .gallery-item {
    float: right;
    margin: 10px 0 10px 20px;
    width: 30%;
    min-width: 200px;
  }
  img {
    height: auto;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
  }
  
  @font-face {
    font-family: Kunstler;
    src: url(../fonts/KUNSTLER.TTF) format("truetype");
  }
  
  @font-face {
    font-family: Bahnschrift;
    src: url(../fonts/Bahnschrift.ttf) format("truetype");
  }
  
  @font-face {
    font-family: Pixel;
    src: url(../fonts/Pixel.otf) format("opentype");
  }
  
  @font-face {
    font-family: Lucine;
    src: url(../fonts/Lucine.otf) format("opentype");
  }
  
  @font-face {
    font-family: Lucian;
    src: url(../fonts/Lucian.otf) format("opentype");
  }
  
  html {
    font-family: Bahnschrift, sans-serif;
    background-color: #eaf1e8;
    color: black;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url(../images/backgrounds/scenicBackground.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: clip;
  }
  
  body {
    margin-top: 100px;
    min-height: 700px;
  }
  
  .rightTextbox {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 50px;
    width: 60%;
    margin-left: 40%;
  }
  
  .mainContainer {
    display: flex;
    width: 100%;
  }
  
  .imageContainer {
    position: fixed;
    width: 40%;
    bottom: 0;
    z-index: 2000;
    margin: 0;
  }
  
  #stationaryEasel {
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }
  
  header {
    font-family: Kunstler, sans-serif;
    background: rgb(145, 201, 148);
    color: rgb(19,56,10);
    position: fixed;
    display: flex;
    padding: 5px;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  header h1 {
    font-size: 80px;
    margin: 0;
  }
  
  nav {
    margin-left: auto;
    padding-left: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  nav a {
    margin: 0 5px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(19,56,10);
  }
  
  footer {
    background-color: rgb(145, 201, 148);
    color: #13380a;
    text-align: right;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 3000;
    width: 100%;
  }
  
  footer p {
    margin: 0;
    padding-right: 15px;
  }
  
  .gallery-item {
    float: right;
    margin: 10px 0 10px 20px;
    width: 30%;
    min-width: 200px;
  }
    